html, body {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #23395d;
  font-family: Helvetica, Arial, sans-serif;
}

#index-body::before {  
  content: "";
  background-image: url('../assets/images/background.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

.white {
  color: white;
}

.outer-wrap {
  position: relative;
  min-height: 100vh;
}

/* Padding at the bottom after adding navbar's height */
.content-wrap {
  padding-bottom: 250px;
}

.page-margin-bottom {
  margin-bottom: 30px;
}

.responsive {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* 200px is navbar's height */
.remaining-height {
  height: calc(100vh - 200px);
}

/* Navbar */
.navbar {
  min-height: 170px;
  margin-bottom: 30px;
}

/* Remove focus from navbar button when clicked */
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}
/* End Navbar*/

/* Carousel*/
.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.carousel-backdrop {
  float: left;
  width: 100%; 
  max-height: 350px;
  display: flex;
  background-color: rgb(35, 57, 93, 0.5);
  box-shadow: 0px 6px 8px -10px #ccc, 0px -6px 8px -10px #CCC; 
}

#homePageCarousel {
  width: 100%; 
  margin: auto;
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

#carousel-item {
  height: 100%; 
  position: relative;
}

.carousel-item-wrapper {
  position: absolute; 
  margin: auto; 
  height: 200px; 
  text-align: center; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  width: 50%;
}

.first-slide {
  height: 160px;
}

.second-slide {
  height: 210px;
}

.third-slide {
  height: 90px;
}

.fourth-slide {
  height: 300px;
}

.text-justify {
  text-align: justify;
  text-justify: inter-word;
}

.carousel-control-prev, .carousel-control-next {
  width: 10%;
}

.no-bullet-points {
  padding: 0;
  list-style-type: none;
}

.white-line {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  width: 70%;
}

.our-values-h5 {
  text-align: left; 
  font-weight: 600;
}

.carousel-remaining-height {
  height: calc(100vh - 220px);
}
/* End carousel*/

.row {
  margin: 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Three column layout */
.column-3 {
  float: left;
  width: 32%;
  color: white;
  background-color: #23395d;
  margin-left: 1%;
  display: inline;
  text-align: center;
}

.icon {
  font-size: 3em;
}

.our-services-div {
  text-align: center;
  display: flex;
  height: 10%;
}

.our-services-header {
  margin:auto;
  margin-bottom: 20px;
}

.dark-card {
  background-color: #23395d;
  border: 1px solid rgba(255, 255, 255);
  border-radius: .2rem;
  text-align: left;
}

/* Footer */
footer {
  width: 100%;
  background-color: #111c2e;
  min-height: 250px;
  padding: 10px 0px 5px 0px;

  position: absolute;
  bottom: 0;
}

footer p {
  font-size: 13px;
  color: #CCC;
  padding-bottom: 0px;
  margin-bottom: 8px;
}

.bottom-border {
  border-bottom: 1px solid #323f45;
  padding-bottom: 20px;
}

.footer-heading {
  color: #FFF;
  padding-top: 40px;
  margin-bottom: 20px;
}

.footer-column {
  text-align: center;
}

.social-footer {
  padding: 0;
  justify-content: center;
  display: flex;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.social-footer li {
  padding-left: 0;
  padding-top: 10px;
  margin-left: 20px;
  float: left;
}

.social-footer li a {
  color: #CCC;
  border: 1px solid #CCC;
  padding: 8px;
  border-radius: 50%;
}

.social-footer li i {
  width: 20px;
  vertical-align: middle;
  text-align: center;
}

.silver {
  color: #CCC;
}

.linkedin-li {
  margin-right: 20px;
}

.abuzaid-consulting-copyright {
  margin-top: 10px;
}
/* End footer */

/* Contact us card */
.contact-us-wrapper {
  border-radius: 1px;
  background-color: inherit;
  margin: auto;
  margin-bottom: 30px;
  padding: 30px 10% 30px 10%;
}

.contact-us-wrapper a {
  overflow-wrap: break-word;
}

.contact-us-header {
  color: white;
  width: fit-content;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  font-size: 2rem;
  font-weight: 600;
  margin-left: 230px;
}

.contact-us-component {
  float: left;
  display: inline;
  width: 21%;
  margin-left: 2%;
  height: 250px;
  background-color: aliceblue;
  color: black;
  padding-top: 20px;
  border-radius: 2px;
  text-align: center;
}

.contact-us-component-leftmost {
  margin-left: 5%;
}

.contact-us-component-icon {
  color: #23395d;
}

.contact-us-component-header {
  font-weight: 600;
  margin-bottom: 20px;
}

.contact-us-social {
  padding: 0;
  justify-content: center;
  display: flex;
  margin: 15px auto 0 auto;
  list-style-type: none;
}

.contact-us-social li {
  padding-left: 0;
  padding-top: 10px;
  margin-left: 20px;
  float: left;
}

.contact-us-social li a {
  color: white;
  background-color: #23395d;
  padding: 8px;
  border-radius: 50%;
}

.contact-us-social li i {
  width: 20px;
  vertical-align: middle;
  text-align: center;
}

.black {
  color: black;
}
/* End contact us card */

@media screen and (max-width: 1500px) {
  .content-wrap {
    padding-bottom: 350px;
  }
  .contact-us-wrapper {
    padding: 30px 0 30px 0;
  }
  .contact-us-header {
    margin-left: 70px;
  }
}
@media screen and (max-width: 1100px) {
  .carousel-item-wrapper {
    width: 80%;
  }
  .second-slide {
    height: 210px;
  }
  .third-slide {
    height: 90px;
  }
  .fourth-slide {
    height: 300px;
  }
  .white-line {
    width: 80%;
  }
  .contact-us-wrapper {
    padding: 30px 0 30px 0;
  }
  .contact-us-header {
    margin: 0px 20px 0px 20px;
    font-size: 1.5rem;
  }
  .contact-us-component {
    width: 32%;
    height: 220px;
    margin-bottom: 20px;
    margin-left: 6%;
  }
  .contact-us-component-leftmost,
  .contact-us-component-second-row-leftmost{
      margin-left: 15%;
  }
}
@media screen and (max-width: 800px) {
  .contact-us-component {
    width: 38%;
    height: 220px;
    margin-bottom: 20px;
    margin-left: 6%;
  }
  .contact-us-component-leftmost,
  .contact-us-component-second-row-leftmost{
      margin-left: 9%;
  }
}
@media screen and (max-width: 600px) {
.column-3 {
    width: 98%;
  }  
  .content-wrap {
    padding-bottom: 500px;
  }
  .carousel-backdrop {
    max-height: 500px;
  }
  .carousel-item-wrapper {
    width: 80%;
  }
  .first-slide {
    height: 300px;
  }
  .second-slide {
    height: 300px;
  }
  .third-slide {
    height: 90px;
  }
  .fourth-slide {
    height: 310px;
  }
  .white-line {
    width: 100%;
  }
  .contact-us-header {
    margin: 0px 20px 0px 20px;
    font-size: 1.5rem;
  }
  .contact-us-component {
    width: 56%;
    height: 220px;
    margin-bottom: 20px;
    margin-left: 22%;
  }  
  .contact-us-component-leftmost {
    margin-left: 22%;
  }
  .remaining-height {
    height: calc(100vh - 130px);
  }
  .logo {
    content: url(../assets/images/logo_all_white_mobile.png);
  }
  .navbar {
    min-height: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .contact-us-social li i {
    height: 20px;
  }  
  .social-footer li i {
    height: 20px;
  }
}
  @media screen and (max-width: 500px) {
    .content-wrap {
      padding-bottom: 600px;
    }
  }
  @media screen and (max-width: 450px) {
  .contact-us-component {
    width: 76%;
    height: 220px;
    margin-bottom: 20px;
    margin-left: 12%;
  }
  .contact-us-component-leftmost {
    margin-left: 12%;
  }
}
  @media screen and (max-width: 400px) {
    .content-wrap {
      padding-bottom: 700px;
    }
    .carousel-item-wrapper {
      width: 80%;
    }
    .first-slide {
      height: 300px;
    }
    .second-slide {
      height: 300px;
    }
    .third-slide {
      height: 100px;
    }
    .fourth-slide {
      height: 300px;
    }
    .white-line {
      width: 100%;
    }
  }